<h1> About One month Rails</h1>
<p>
	
	<a href="http://www.omrails.com">One Month Rails</a> isa project to teach
	<a href="http://rubyonrails.org">Ruby on Rails</a> in one month.  
	This is a simple application

</p>
