	<h1> About One Month Rails</h1>
	<p>
		<a href="http://www.omrails.com">One Month Rails</a> is a project to teach
		<a href="http://rubyonrails.org">Ruby on Rails</a> in one month.  
		<br>
		This is a simple application

	</p>
