<div>

	<h1>
		Welcome to one month rails!
		<h2>You've found the home page for my <a href="http://www.omrails.com">one month rails</a> first application</h2>
	</h1>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>


</div>